*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(58, 58, 57);
    color:rgb(255, 255, 255)
}
header{
    height: 10vh;
}
main{
    height: 80vh;
}
footer{
    height: 10vh;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 40px;
}
p{
    width: 80%;
    margin: auto;
    text-align: justify;
}